# This file is a "template" of what your parameters.yaml file has to look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # Mongodb configuration: url and db name:
    mongodb_url: mongodb://localhost:27017
    mongodb_db: mintme

    # Mail configuration - it is required for sending e.g. registration confirmation
    # emails, and also for the Contact Form.
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: user
    mailer_password: pass